.board-preview-container {
	position: relative;
}

.board-preview {
	align-items: flex-start;
	border-radius: 15px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	margin: 4px 0;
	height: 140px;
	transition: box-shadow ease 0.3s;
	width: 200px;
}

.board-preview:hover {
	filter: brightness(130%);
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.411);
}

.board-preview p {
	padding: 10px;
	text-justify: newspaper;
	text-align: start;
	font-weight: 600;
}

.layout-normal .board-preview {
	background: linear-gradient(
		0deg,
		rgba(195, 195, 195, 1) 0%,
		rgba(134, 134, 134, 1) 50%,
		rgba(113, 113, 113, 1) 100%
	);
}

.layout-dark .board-preview {
	background-color: rgba(31, 31, 31, 0.897);
}

.layout-sunshine .board-preview {
	background-image: url("../../../assets/images/sunshine.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 3px black;
}

.layout-mountain .board-preview {
	background-image: url("../../../assets/images/mountain.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 3px black;
}

.delete-board {
	background-color: white;
	border-radius: 15px;
	bottom: 5px;
	padding: 3px 10px;
	position: absolute;
	right: 5px;
	z-index: -1;
}

.board-preview-container:hover .delete-board {
	z-index: 10;
}
