.board-preview {
	align-items: flex-start;
	background-color: rgba(85, 104, 212, 0.95);
	border-radius: 15px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	margin: 4px 0;
	position: relative;
	height: 200px;
	transition: box-shadow ease 0.3s;
	width: 200px;
}

.board-preview::after {
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0);
	content: "";
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: background-color ease 0.3s;
	width: 100%;
}

.board-preview:hover {
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.411);
}

.board-preview:hover::after {
	background-color: rgba(255, 255, 255, 0.487);
}

.board-preview p {
	padding: 10px;
	text-justify: newspaper;
	text-align: start;
	font-weight: 600;
}

.board-preview:hover .delete-board {
	display: inline-block;
}
.delete-board {
	display: none;
	transition: all 1s linear 0s;
	padding: 5px 9px;
	border-radius: 15px;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}
