.workspace {
	display: flex;
	flex-direction: column;
}

.workspace__header {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 4px 8px 18px 8px;
}

.workspace__header span {
	font-size: 15px;
	color: rgb(53, 53, 53);
}

.workspace__header h2 {
	font-size: 30px;
	font-weight: 700;
	height: min-content;
	max-width: 200px;
	text-align: left;
}

.workspace__board-preview-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 10px;
}
