.workspace {
	display: flex;
	flex-direction: column;
}

.workspace span {
	align-self: flex-start;
	margin: 4px 8px 0 8px;
}

.title-workspace {
	max-width: 200px;
	padding: 8px 4px;
}

.workspace__board-preview-list {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}
.title-workspace{
	height: 120px;
}
.workspace-delete svg{
	height: 25px;
	width: 25px;
}
.workspace-delete svg path{

	fill: rgb(165, 37, 37);
}
