.NewTicketListModal-container {
    background-color: whitesmoke;
    height: 200px;
    width: 60vw;
    position: relative;
    border-radius: 10px;
    padding: 40px 80px 40px 80px;
}

.newTicketListModal-title label {
    display: block;
}

.newTicketListModal-title input{
    width: 150px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.newTicketListModal-buttons{
    position: absolute;
    bottom: 5px;
    display: flex;
    gap: 5px;
}

.newTicketListModal-buttons .newTicketListModal-btn {
    width: 100px;
}

@media (min-width: 600px) {
    .NewTicketListModal-container{
        width: 40vw;
    }
}