.newTicketModal-container {
    background-color: whitesmoke;
   
    height: 400px;
    width: 60vw;
    position: relative;
    border-radius: 10px;
    padding: 10px;
}

.newTicketModal-container label,
.newTicketModal-ticketFlag label,
.newTicketModal-moveToOtherList label {
    display: block;
}

.newTicketModal-container input {
    width: 150px;
}

.newTicketModal-container input,
.newTicketModal-container select {
    width: 150px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.newTicketModal-buttons {
    position: absolute;
    bottom: 5px;
    gap: 5px;
    display: flex;

}

.newTicketModal-buttons .newTicketModal-btn {
    width: 100px;
}

@media (min-width: 600px) {
    .NewTicketListModal-container{
        width: 40vw;
    }
}