.ticket-form-container {
	background-color: whitesmoke;
	height: fit-content;
	min-width: 300px;
	width: 60vw;
	max-width: 700px;
	border-radius: 10px;
	padding: 10px 30px;
}

.layout-dark .ticket-form-container {
	background-color: rgb(54, 52, 52);
	color: whitesmoke;
}

.ticket-form-field {
	align-items: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ticket-form-field input {
	min-width: 150px;
	width: 190px;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.layout-dark .ticket-form-field input {
	background-color: rgba(12, 12, 12, 0.76);
	color: whitesmoke;
}

.ticket-form-field select {
	min-width: 150px;
	width: 190px;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.layout-dark .ticket-form-field select {
	background-color: rgba(12, 12, 12, 0.76);
	color: whitesmoke;
}

.ticket-form-btns {
	margin-top: 30px;
	gap: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ticket-form-btn {
	width: 100px;
}

@media only screen and (min-width: 600px) {
	.ticket-form-container {
		height: 400px;
		width: 60vw;
		max-width: 700px;
		padding: 40px 80px 40px 80px;
	}
	.ticket-form-field {
		align-items: center;
		flex-direction: row;
	}
}
