.ticket-container {
	align-items: center;
	background-color: white;
	border-radius: 7px;
	box-shadow: 1px 1px 1px rgba(83, 83, 83, 0.746);

	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 5px 10px;
}

.ticket-content-preview {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.ticket-flag {
	border-radius: 5px;
	height: 8px;
	width: 50px;
}

.ticket-title {
	cursor: pointer;
	padding: 4px 0;
	word-break: break-word;
}

.ticket-btns {
	align-items: center;
	display: flex;
	justify-content: center;
}

.ticketBtn {
	padding: 5px 11px;
	background-color: white;
}
