.ticket-form-container {
	background-color: whitesmoke;
	height: 400px;
	width: 60vw;
	position: relative;
	border-radius: 10px;
	padding: 40px 80px 40px 80px;
}

.ticket-form-field {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.ticket-form-field input {
	width: 150px;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.ticket-form-field select {
	width: 150px;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.ticket-form-btns {
	margin-top: 30px;
	gap: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ticket-form-btn {
	width: 100px;
}
