/* smartphone  */
.board-wrapper {
    padding-top: 60px;
    height: 100vh;
    border: 2px solid green;
}
.board-title {
    font-size: 22px;
    padding: 10px 10px;
    text-align: center;
}
.board-container {
    display: flex;
    align-items: center;
    width: 100%;
    height:calc(100vh - 135px);
    gap:10px;
}
.board-button-list{
    padding-left:0px;
}
.board-btn-add-list {
   height: 48px;
}
.board-container-ticketList{
    overflow:auto;
    flex: 1;
    height: 100%;
    display: flex;
}
/* tablet^  */
@media only screen and (min-width: 600px) {
    .board-button-list{
        padding-left: 15px;
        width: 150px;
    }
}
