.ticketContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    border-radius: 7px;
   border: 2px solid red;
}

.ticketBtn-remove-ticket {
    padding: 5px 11px;
}
