.ticketList-container{
    margin: 7.5px;
    background-color: #ebecf0;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid black;
    min-width: 400px;
}

.ticketList-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}