.ticketContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 7px;
}

.ticketTitle {
    max-width: 120px;
    word-break: break-word;
}

.ticketBtn {
    padding: 5px 11px;
    background-color: white;
}
